# Python virtual environments
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# macOS system files
.DS_Store

# VS Code 
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables file
.env